* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.page {
	background-color: #1b2430;
	height: 100vh;
	border: 2px solid black;
	font-family: "Advent Pro", sans-serif;
}

.accent-font {
	color: #f3c03d;
	font-weight: 700;
}

/* ^ FIRST PAGE */

.about-page {
	background-image: url("../img/city.png");
	background-position: bottom no-repeat;
	background-attachment: fixed;
	border: 2px solid green;
}

/* ^ nav */

nav {
	display: flex;
	justify-content: center;
	gap: 18px;
	border: 2px solid yellow;
	align-items: center;
	height: 15vh;
}

nav button {
	height: 60px;
	width: 200px;
	border-radius: 10px;
	font-family: "Advent Pro", sans-serif;
	font-size: 1rem;
	font-weight: 700;
}

nav button:first-child {
	color: #816797;
}

nav button:nth-child(2) {
	color: #51557e;
}

nav button:nth-child(3) {
	color: #f3c03d;
}

/* ^ info section on first page (about me) */

section {
	border: 2px solid red;
	display: flex;
	justify-content: center;
	margin-top: 100px;
	height: 50vh;
	align-items: center;
}

.about-container {
	width: 30vw;
	border: 1px solid blue;
	color: #fefefe;
	font-size: 20px;
}

.profile-pic-section {
	width: 30vw;
	border: 1px solid blue;
	text-align: center;
}

.profile-pic {
	height: 40vh;
	width: auto;
	border: 2px solid #f3c03d;
	filter: grayscale();
}

.fa-brands {
	font-size: 2.5rem;
}

.fa-brands:first-child {
	color: #816797;
}

.fa-brands:nth-child(2) {
	color: #51557e;
}

.fa-brands:nth-child(3) {
	color: #f3c03d;
}
