* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Advent Pro", sans-serif;
	background-color: #1b2430;
}

a {
	text-decoration: none;
	color: transparent;
}

.page {
	background-color: #1b2430;
	height: 100vh;
	border: 2px solid black;
}

.accent-font {
	color: #f3c03d;
	font-weight: 700;
	cursor: pointer;
}

/* ^ FIRST PAGE */

.about-page {
	background-image: url("../img/city.png");
	background-position: bottom no-repeat;
	background-attachment: fixed;
	border: 2px solid green;
}

/* ^ nav */

nav {
	display: flex;
	justify-content: center;
	gap: 18px;
	border: 2px solid yellow;
	align-items: center;
	height: 15vh;
}

nav button {
	height: 60px;
	width: 200px;
	border-radius: 10px;
	font-family: "Advent Pro", sans-serif;
	font-size: 1rem;
	font-weight: 700;
	border: 0;
}

nav button:hover {
	font-size: 1.5rem;
	transition: 0.3s;
	background-color: #1b2430;
	cursor: pointer;
}

nav button:first-child {
	color: #816797;
	transform: rotate(2deg);
	animation-name: rotate-1;
	animation-duration: 0.6s;
	animation-direction: alternate-reverse;
	animation-iteration-count: infinite;
}

nav button:first-child:hover {
	color: white;
}

nav button:nth-child(2) {
	color: #51557e;
	transform: rotate(-3.5deg);
	animation-name: rotate-2;
	animation-duration: 1s;
	animation-direction: alternate-reverse;
	animation-iteration-count: infinite;
}

nav button:nth-child(2):hover {
	color: white;
}

nav button:nth-child(3) {
	color: #f3c03d;
	transform: rotate(-4.5deg);
	animation-name: rotate-3;
	animation-duration: 0.8s;
	animation-direction: alternate-reverse;
	animation-iteration-count: infinite;
}

nav button:nth-child(3):hover {
	color: white;
}

/* ^ nav buttons animation */

@keyframes rotate-1 {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(5deg);
	}
}

@keyframes rotate-2 {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-2deg);
	}
}

@keyframes rotate-3 {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-2deg);
	}
}

/* ^ info section on first page (about me) */

section {
	border: 2px solid red;
	display: flex;
	justify-content: center;
	margin-top: 100px;
	height: 50vh;
	align-items: center;
}

.about-container {
	width: 30vw;
	border: 1px solid blue;
	color: #fefefe;
	font-size: 20px;
}

.profile-pic-section {
	width: 350px;
	height: 350px;
	text-align: center;
	border-radius: 50%;
	border: 2px solid #fefefe;
	overflow: hidden;
	transition: 0.1s;
}

.profile-pic-section:hover {
	border: 2px solid #f3c03d;
	background-color: #51557e;
}

.profile-pic {
	height: 40vh;
	width: auto;
	filter: grayscale();
}

.fa-brands {
	font-size: 2.5rem;
}

.fa-brands:hover {
	color: #fefefe;
	transition: 0.2s;
}

.fa-square-github {
	color: #816797;
}

.fa-linkedin {
	color: #51557e;
}

.fa-square-facebook {
	color: #f3c03d;
}

/* ^ SECOND PAGE */

.skills-page {
	border: 2px solid green;
	background-color: #f3c03d;
	display: flex;
	justify-content: space-around;
	z-index: -2;
}

/* ^ skills section */

.skills-section {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0;
	width: 20vw;
	background-color: #1b2430;
	color: #fefefe;
	font-size: 1.2rem;
}

.skills-section:hover {
	color: #f3c03d;
	transition: 0.5s;
}

.obj-image {
	height: 15vh;

	animation: move-obj 10s linear infinite;
}

.heading-2 {
	color: #816797;
	font-size: 2rem;
}

@keyframes move-obj {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* ^ description section */

.description-section {
	width: 25vw;
	height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
	color: #51557e;
	font-size: 1.2rem;
	color: #1b2430;
	font-weight: 500;
	overflow: hidden;
}

/* ^ plane and plane animation */

.moving-plane {
	position: relative;
	animation-name: move-plane;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	top: 25px;
	height: 10vh;
	left: -100px;
	display: block;
}

@keyframes move-plane {
	0% {
		left: 0;
		opacity: 0;
	}

	25% {
		opacity: 0.5;
	}

	50% {
		opacity: 1;
	}

	75% {
		opacity: 0.5;
	}

	100% {
		left: 80vw;
		opacity: 0;
	}
}

/* ^ THIRD PAGE */

.projects-page {
	display: flex;
	justify-content: center;
	background-color: #1c1c1c;
	height: auto !important;
	margin: 0 !important;
	padding: 0 !important;
}

.project-section {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: auto;
	width: auto;
}

.project-section button {
	width: 100px;
	height: 30px;
	background-color: #f3c03d;
}

.project-ss {
	text-align: center;
	display: flex;
	flex-direction: row;
	margin: 68px;
	font-size: 1.2rem;
}

.about-app {
	color: #fefefe;
	margin: 1rem;
	background-color: #1b2430;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-content: flex-end;
	padding: 1rem;
	border: 1px solid green;
}

.project-img {
	border-radius: 10px;
}

.currency-app-img {
	border: 1rem solid #1b2430;
}

.hangman-app-img {
	border: 1rem solid #fefefe;
}

.react-app-img {
	border: 1rem solid #f3c03d;
}

.project-button-container button {
	height: 40px;
	width: 150px;
	border-radius: 10px;
	border: 0;
	font-size: 1.5rem;
	font-family: "Advent Pro", sans-serif;
	margin-top: 1rem;
	cursor: pointer;
}

.project-button-container button:hover {
	background-color: #816797;
	color: #fefefe;
	transition: 0.3s;
}

.footer-page {
	height: auto;
	text-align: center;
	color: #fefefe;
	padding: 2rem;
}
